Normalisation/resources/normalisation.dtd

<!ELEMENT Normalisation (RelationSchema, FunctionalDependency+)>

<!ELEMENT RelationSchema (Column+)>
<!ELEMENT Column (#PCDATA)>

<!ELEMENT FunctionalDependency (FunctionallyDependentOn+, FunctionallyAffected+)>
<!ELEMENT FunctionallyDependentOn (#PCDATA)>
<!ELEMENT FunctionallyAffected (#PCDATA)>

<!ATTLIST RelationSchema
	name CDATA #REQUIRED>