Normalisation/resources/normalisation.dtd

<!ELEMENT Normalisation (Relation, FunctionalDependency+)>

<!ELEMENT Relation (Column+)>
<!ELEMENT Column (#PCDATA)>

<!ELEMENT FunctionalDependency (FunctionallyDependentOn+, FunctionallyAffected+)>
<!ELEMENT FunctionallyDependentOn (#PCDATA)>
<!ELEMENT FunctionallyAffected (#PCDATA)>

<!ATTLIST Relation
	name CDATA #REQUIRED>